</div><!-- container end for main -->
<footer>
<div class="container"><!-- container start -->
    <div class="row"><!-- row start -->
        <div class="col-sm-6 col-md-3"><!-- col-sm-6 start -->
            <h4>Pages</h4>
            <ul><!-- footer ul start -->
                <li><a href="cart.php">Home</a></li>
                <li><a href="contact.php">Blog</a></li>
                <li><a href="shop.php">Services</a></li>
                <li><a href="account.php">Contact us</a></li>
            </ul><!-- footer ul end -->
             <h4>Keep in touch</h4>
    <div class="social">
      <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
      <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
      <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
      <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
      <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
    </div>
            <hr class="hidden-lg hidden-md">
        </div><!-- col-sm-6 end -->
        <div class="col-sm-6 col-md-3"><!-- col-sm-6 start -->
            <h4>Top Product Categories</h4>
                <ul><!-- Product Categorie ul start -->
                    <li><a href="">Mobile Apps</a></li>
                    <li><a href="">E-commerce</a></li>
                    <li><a href="">Web Apps</a></li>
                    <li><a href="">Web Hosting</a></li>
                    <li><a href="">Graphics</a></li>
                </ul><!-- Product Categorie ul end -->
                <hr class="hidden-lg hidden-md">
        </div><!-- col-sm-6 end -->
        <div class="col-sm-6 col-md-3"><!-- col-sm-6 start -->
            <h4>Find Us</h4>
            <p><!-- fund us p start -->
                <strong>AYD MEDIA Limited</strong>
                <br>Agege
                <br>Lagos
                <br>Nigeria
                <br>090-226-97-007
                <br>Aydmediasolution@gmail.com
            </p><!-- fund us p end -->
            <a href="">Check our contact page</a>
                 <hr class="hidden-lg hidden-md">
        </div><!-- col-sm-6 end -->
        <div class="col-sm-6 col-md-3"><!-- col-sm-6 start -->
            <h4>Get the News</h4>
                <p class="muted">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                <form action="" method="post"><!-- form start -->
                    <div class="input-group"><!-- input-group start -->
                        <input type="text" class="form-control" name="email">
                        <span class="input-group-btn"><!-- input-btn start -->
                            <input type="submit" name="suscribe" value="Suscribe" class="btn btn-primary">
                        </span><!-- input-btn end -->
                    </div><!-- input-group end -->
                </form><!-- form end -->
                <hr>
                 <h4>User Section</h4>
            <ul><!-- user ul start -->
                <li><a href="login.php">Login</a></li>
                <li><a href="register.php">Register</a></li>
            </ul><!-- user ul end -->
               
        </div><!-- col-sm-6 end -->
    </div><!--row end -->
</div><!-- container end -->
<div class="copyright"><!-- copyright start -->
    <div class="container"><!-- container start -->
        <div class="go-left"><!-- col-sm-6 start -->
            <p class="pull-left"><!-- pull-left start -->
                Copyright | 2021 &copy; <span>All Rights Reserved</span>
            </p><!-- pull-left end -->
        </div><!-- col-sm-6 end -->
          <div class="go-right"><!-- col-sm-6 start -->
            <p class="pull-right go-right"><!-- pull-left start -->
                 Powered by: <a href="">AYD Media</a>
            </p><!-- pull-left end -->
        </div><!-- col-sm-6 end -->
    </div><!-- container end -->
</div><!-- copyright end -->
    </footer> 
    
     <script src="./lib/jquery/jquery.min.js"></script>
      <script src="./lib/bootstrap/bootstrap.min.js"></script>
     <script src="./lib/wow/wow.min.js"></script>
      <script src="./lib/custom.js"></script>
     <script>
         new WOW().init();
     </script>
</body>
</html>