
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="./lib/bootstrap/bootstrap.min.css">
    <!-- libraries -->
    <link rel="stylesheet" href="./lib/animate/animate.min.css">
    <link rel="stylesheet" href="./lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="./lib/ionicons/css/ionicons.min.css">
    <script src="./lib/waypoints/waypoints.min.js"></script>
    <script src="./lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="./lib/lightbox/js/lightbox.min.js"></script>
    <link rel="stylesheet" href="./lib/lightbox/css/lightbox.min.css">
    <link rel="shortcut icon" href="./img/favicon.png" type="image/x-icon">
    <!-- custom CSS -->
     <link rel="stylesheet" href="./lib/custom.css">
</head>
<body>
   <div class="wrapper">
 <div class="header">
     <h2 class="logo">AYDMEDA</h2>
     <input type="checkbox" name="" id="chk">
     <label for="chk" class="show-menu-btn"><i class="fa fa-ellipsis-h"></i></label>
     <ul class="menu">
          <label for="chk" class="hide-menu-btn"><i class="fa fa-times"></i></label>
         <a href="">Home</a>
         <a href="">About</a>
         <a href="">Services</a>
         <a href="">Gallery</a>
         <a href="">Contact</a>
     </ul>
 </div>
 
 </div>
    <div class="container">

    <div class="layout wow bounceInLeft">
        <div class="one">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores necessitatibus reiciendis temporibus voluptatum quasi excepturi veritatis modi sit atque consequuntur soluta assumenda, quibusdam nihil iste deserunt vitae doloribus exercitationem maiores!</div>
          <div class="one two">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores necessitatibus reiciendis temporibus voluptatum quasi excepturi veritatis modi sit atque consequuntur soluta assumenda, quibusdam nihil iste deserunt vitae doloribus exercitationem maiores!</div>
            <div class="one three">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores necessitatibus reiciendis temporibus voluptatum quasi excepturi veritatis modi sit atque consequuntur soluta assumenda, quibusdam nihil iste deserunt vitae doloribus exercitationem maiores!</div>
    </div>